<div id="navvy" class="col-sm-3 col-md-2 sidebar">
  <ul id="accounting" class="nav nav-sidebar">
    <li class="{{#if active.invoices}}active{{/if}}"><a href="/invoices">Bulk Void Tool</a></li>
    <li class="{{#if help}}active{{/if}}"><a href="/help">Help Page</a></li>
  </ul>
</div>