<h3>Help Page</h3>
<hr>
<h4 id="helpHead">Is this application suitable for you?</h4>
<p>
    This app is suitable for situations where users have already started an organisation, imported and approved invoices accidentally, and wish to 
    undo their actions. At the time of creation, bulk voiding is not available in Xero. I've created this application as I visioned a solution is 
    possible using the Xero API.  
</p>
<hr>
<h4 id="helpHead">How can I use this application?</h4>
<p>
    The main page will automatically retrieve all approved invoices from your organisation. Invoices with payments (or part payments) are removed from view. 
    Invoices with payments cannot be voided until the payment is removed using Remove &amp; Redo in Xero. The API limits in place allow 60 calls per minute, so 
    I'd recommend voiding no more than 60 at a time. I have stretch goals in place to handle these limits but in the meantime, please understand over 60 invoices 
    may experience delays as the API calls will backlog.  
</p>
<hr>
<h4 id="helpHead">Who can I contact for help?</h4>
<p>This app is still in production at the moment - as a personal project. But, 
    feel free to contact me at <a href="mailto:leslie.alldridge@gmail.com">leslie.alldridge@gmail.com</a>. 
</p>